$size: ('1': 8px, '2': 16px, '3': 24px, '4': 32px, '5': 40px, '6': 48px, '7': 56px, '8': 64px, '9': 72px);
$sides: (top, right, bottom, left);

@each $key, $val in $size {
    
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$key} {
            margin-#{$side}: $val;
        }
        
        .p#{str-slice($side, 0, 1)}-#{$key} {
            padding-#{$side}: $val;
        }
    }

    .m-#{$key} {
        margin: $val;
    }
    
    .p-#{$key} {
        padding: $val;
    }
}