@mixin flexCenter($justifyContent: "center", $alignItems: "center") {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin transition-ease {
    transition: all 0.3s ease;
}