.card-label{
    background-color: #b3bac5;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 8px;
}

.card-label-purple{
    background-color: #5051F9;
}

.card-label-blue{
    background-color: #1EA7FF;
}

.card-label-orange{
    background-color: #E97342;
}

.card-label-yellow{
    background-color: #F59E0B;
}