.card-label{
    background-color: #b3bac5;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 8px;
}

.card-label-purple{
    background-color: $blue-color;
}

.card-label-blue{
    background-color: $light-blue-color;
}

.card-label-orange{
    background-color: $orange-color;
}

.card-label-yellow{
    background-color: $yellow-color;
}