.icon{
    // display: inline-block;
    width: 20px;
    height: 20px;
}

.octom-logo{
    width: 64px;
    height: 61px;
}

.side-icon{
    // fill: #5F6388;
}

.search-icon{
    width: 20px;
    height: 20px;
}

.bell-icon{
    width: 18px;
    height: 19px;
}

.chevron{
    width: 8px;
    height: 13px;
}

.ellipsis{
    width: 18px;
    height: 4px;
}

.check-icon{
    width: 17px;
    height: 17px;
}

.comment{
    width: 10px;
    height: 11px;
}

.attachment{
    width: 8px;
    height: 8px;
}

.seen-icon{
    width: 7px;
    height: 5px;
}

.microphone{
    width: 11px;
    height: 15px;
}