.icon{
    // display: inline-block;
    width: 20px;
    height: 20px;
}

.octom-logo{
    width: 64px;
    height: 61px;
}

.side-icon{
    fill: #5F6388;
}

.search-icon{
    width: 20px;
    height: 20px;
    fill: #94A2BC;
}

.bell-icon{
    width: 18px;
    height: 19px;
    fill: #768396;
}

.chevron-down{
    width: 8px;
    height: 13px;
    fill: #5250F9;
}

.ellipsis{
    width: 18px;
    height: 4px;
    fill: #768396;
}

.check-icon{
    width: 17px;
    height: 17px;
    fill: #768396;
}

.comment{
    width: 10px;
    height: 11px;
    fill: #768396;
}

.attachment{
    width: 8px;
    height: 8px;
    fill: #768396;
}

.seen-icon{
    width: 7px;
    height: 5px;
    fill: #1ED01A;
}

.microphone{
    width: 11px;
    height: 15px;
    fill: #768396;
}

.close-icon{
    width: 12px;
    height: 12px;
    // fill: #5051F9;
    fill: #a1a1a1;
}

.chevron-right{
    width: 7px;
    height: 11px;
    fill: #5051F9;
}