.tooltip{
    background: #292c31;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 10px;
    max-width: 170px;
    text-align: center;
    position: absolute;
    display: none;
    white-space: normal;
    word-wrap: break-word;
}