.tasks{
    width: calc(100% - 300px);

    &__header{
        @include flexCenter(space-between, center);

        h1{
            img{
                width: 25px;
                height: 25px;
            }
        }

        &-right{
            figure{
                width: 30px;
                height: 30px;
                display: inline-block;
                vertical-align: middle;
                line-height: 0;

                & + figure{
                    margin-left: -10px;
                }

                &:last-of-type{
                    margin-right: 16px;
                }

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            span{
                font-size: 24px;
                font-weight: 500;
                color: #8185A0;
                vertical-align: middle;
            }
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__list{
        width: calc(25% - 18px);

        &-title{
            background-color: white;
            border-radius: 10px;
            @include flexCenter(space-between, center);
        }

        &-wrapper{
            height: 51vh;
            overflow-y: scroll;
        }
    }
}